.section{ :class => "demo#{params[:day].to_i}" }
  .row
    .small-5.columns
      %h1.textfill= params[:name]
    .small-7.columns
      %h3= "#{params[:year]}/#{params[:month]}/#{params[:day]}"
      %p.lead Section 1
.section
  .row
    .small-7.small-offset-5.columns
      %p.lead Section 2
